.copyright {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 20px;
}

.copyright a {
  display: inline-block;
  color: inherit;
}

.copyright.bottom {
  display: none;
}

#side_nav_bar {
  background-color: #383838;
  width: 100%;
  font-size: 35px;
}

#link_list a {
  display: block;
  text-align: center;
  line-height: normal;
}

#link_list a:hover {
  font-weight: bold;
}

#link_list a.active {
  font-weight: bold;
}

#buttons_list {
  color: white;
  position: absolute;
  top: calc(40% - 172.3px);
  width: 100%;
}

#buttons_list a {
  text-decoration: none;
  color: white;
}

#buttons_list h1 {
  font-size: 70px;
  text-align: center;
}

#buttons_list p {
  text-align: center;
  line-height: normal;
  font-size: 15px;
}

div#link_list {
  padding-left: 110px;
  padding-right: 110px;
  text-align: center;
}

#mainContent {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}

#collapse_button {
  width: 100%;
  font-size: 30px;
  color: white;
  text-align: center;
}

#collapse_button ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1.5rem;
  overflow: hidden;
}

#collapse_button li {
  float: left;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#collapse_button li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: normal;
}

#collapse_button li a:hover {
  font-weight: bold;
}

#collapse_button li a.active {
  font-weight: bold;
}

body {
  font-size: 14px;
  min-width: 140px;/*This overwrites the semantic-ui rule*/
}

@media screen and (min-width: 320px) {
  #mainContent {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 16px;
  }
}

@media screen and (max-width: 370px) {
  #collapse_button li {
    float: none;
  }

  #buttons_list {
    display: none;
  }

  #mainContent {
    max-width: 650px;
  }
}

@media screen and (min-width: 371px) {
  #buttons_list {
    display: none;
  }

  #collapse_button {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .copyright.bottom {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  #side_nav_bar {
    position: fixed;
    height: 100%;
    width: 350px;
    top: 0;
    bottom: 0;
    left: 0;
  }

  #mainContent {
    margin-left: 350px;
    font-size: 20px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  #buttons_list {
    display: block;
  }

  #collapse_button {
    display: none;
  }
}
