.post_list .statistic > div.label {
  color: rgba(0, 0, 0, 0.4)
}

.post_list .ui.fluid.card {
  box-shadow: none;
}

.post_list .ui.fluid.card  .content  a {
  text-decoration: none;
  font-size: 1.6em;
  display: block;
  width: 100%;
  color: black;
  transition: color 0.15s linear;
}

.post_list .ui.fluid.card  .content  a:hover {
  color: rgb(62, 161, 221);
}

.post_list span#post_time {
  font-size: 0.8em;
}

.post_list span#post_tag_display {
  font-size: 0.8em;
}
