.ui.attached.reply.form {
  transition: visibility 0s, opacity 0.35s linear;
  opacity: 0;
}

.ui.comments .comment .text {
  word-wrap:break-word;
  max-width: 500px;
}

.ui.comments .comment .author {
  display: inline;
}

.ui.comments .comment > .content {
  cursor: default;
}

.ui.comments .reply.form textarea {
  max-width: 500px;
}

.ui.minimal.comments {
  overflow-x: auto;
  width: 100%;
  display: grid;
  max-width: none;
  font-size: 0.8em;
}

.ui.minimal.comments .actions {
  position: inherit !important;
}
