div.ui.dropdown.filter {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

input#filter_search {
  width: 100%;
  border: none;
  padding-left: 5px;
}

div.ui.category.search {
  display: inline;
  position: inherit;
}

div.results.transition {
  position: absolute !important;
  min-width: 270px;
}

@media screen and (max-width: 767px) {
  div.results.transition {
    top: 90px !important;
    left: 2rem !important;
    width: calc(100% - 4rem) !important;
  }
}

@media screen and (max-width: 460px) {
  div.results.transition {
    top: 125px !important;
  }
}

@media screen and (max-width: 396px) {
  div.results.transition {
    top: 265px !important;
  }
}

@media screen and (max-width: 342px) {
  div.results.transition {
    left: calc((100% - 270px) / 2) !important;
  }
}

@media screen and (max-width: 320px) {
  div#filter {
    margin-left: 0.5rem !important;
  }

  div.results.transition {
    width: calc(100% - 2rem) !important;
    left: 1rem !important;
  }
}

@media screen and (max-width: 313px) {
  div.results.transition {
    width: calc(100% - 2rem) !important;
    left: calc((100% - 270px) / 2) !important;
  }
}

@media screen and (min-width: 321px) {
  div#filter {
    margin-left: -1rem !important;
  }
}

@media screen and (min-width: 768px) {
  div#filter {
    margin-top: -2rem;
    margin-left: -1.5rem !important;
  }

  div.results.transition {
    top: 95px !important;
    left: 400px !important;
    width: calc(100% - 350px - 8rem) !important;
  }
}

@media screen and (min-width: 953px) {
  div.results.transition {
    top: 65px !important;
  }
}
